/* icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}
/* COMMON */
* {
  box-sizing: border-box;
}
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  overflow-x: hidden;
}
section {
  width: 100vw;
}
a {
  text-decoration: none;
}
img {
  display: block;
  /* img가 inline요소 즉 텍스트로 읽혀서 텍스트의 베이스라인 기준으로 생성됨. */
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.strong {
  font-weight: bold;
}
/* Button */
.btn {
  display: inline-block;
  padding: 6px 20px;
  box-sizing: border-box;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 15px;
}
.btn--light-green {
  color: #076444;
  border-color: #076444;
  transition: 0.6s;
}
.btn--light-green:hover {
  background-color: #076433;
  border-color: #076433;
  color: white;
  text-decoration: underline;
}
.btn--brown {
  color: #633510;
  border-color: #633510;
  transition: 0.6s;
}
.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}
.btn--gold {
  border-color: #966932;
  color: #966932;
  transition: 0.6s;
  cursor: pointer;
}
.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}
.btn--white {
  border-color: white;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}
.btn--white:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.btn--black {
  border-color: black;
  color: black;

  cursor: pointer;
}
.btn--black:hover {
  background-color: black;
  color: white;
  transition: 0.6s;
  text-decoration: underline;
}
/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 5;
}
header .inner {
  height: 120px;
}
header .inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75px;
  margin: auto;
}

/* sub-menu */
header .inner .sub-menu {
  display: flex;
  position: absolute;
  align-items: center;
  top: 10px;
  right: 0;
  font-family: "Avenir", Arial, georgia;
}
header .inner .sub-menu .sub-menu__menu {
  display: flex;
  font-size: 13px;
}

header .inner .sub-menu .sub-menu__menu > li a {
  /* display: block; */
  color: #656565;
  padding: 10px 15px;
}
header .inner .sub-menu .sub-menu__menu > li a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  content: "";
  display: inline-block;
  /* display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; */
  width: 1px;
  height: 10px;
  background-color: #ddd;
}
header .inner .sub-menu .search {
  cursor: pointer;
}
header .inner .sub-menu .search > input:focus {
  width: 180px;
}
header .inner .sub-menu .search > input:focus::placeholder {
  color: #555;
}
header .inner .sub-menu .search > input::placeholder {
  color: white;
  transition: 0.4s;
}
header .inner .sub-menu .search > input {
  position: relative;
  width: 38px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
  padding: 10px 14px;
}
header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

/* main-menu */
header .inner .main-menu {
  font-size: 13px;
  position: absolute;
  bottom: -3px;
  right: 0;
  display: flex;
  align-items: center;
  height: 70px;
}
header .inner .main-menu > li.item {
  cursor: pointer;
  color: #555;
  padding: 10px 25px 38px;
}
header .inner .main-menu > li.item:hover {
  text-decoration: underline;
  color: #669900;
  background-color: #2c2a29;
}

/* slide-menu */

header .inner .main-menu .item .item__contents {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 120px;
  background-color: #2c2a29;
}
header .inner .main-menu .item:hover .item__contents {
  display: block;
}
header .inner .main-menu .item:hover .item__contents {
}
header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 20px 0;
}

header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li {
  /* width: 220px; 가로값 주는 대신 밑에처럼 진행해도 됨*/
  flex-grow: 0;
  flex-basis: 220px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  font-size: 14px;
  color: white;
  font-weight: 600;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul {
  margin-top: 10px;
  line-height: 1.8;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li
  > a {
  color: #999;
  font-size: 12px;
}
header
  .inner
  .main-menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover
  > a {
  text-decoration: underline;
}
/* Badges */
header .badges {
  position: absolute;
  left: calc(1100px + (100vw - 1100px) / 2);
  top: 150px;
  z-index: 2;
}
header .badges .badge {
  cursor: pointer;
}
header .badges .badge img {
  width: 140px;
}

@media screen and (max-width: 1400px) {
  /* 1400px 이하일때 */
  header .badges {
    left: calc(100vw - 150px);
  }
}
/* Slide */
.visual {
  background-image: url("../images/visual_bg.jpg");
  background-size: cover;
  /* background-size: 106% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
  height: 34vw;
  width: 100vw;
}
.visual .inner {
  position: relative;
  height: 34vw;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}
.visual .inner .slogan {
  position: absolute;
  width: 18vw;
  height: 19vw;
  top: 23%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.visual .inner .slogan img {
  width: 100%;
}

.visual .inner .item1 {
  position: absolute;
  width: 15vw;
  top: 17%;
  right: 45%;
}
.visual .inner .item2 {
  position: absolute;
  width: 17vw;
  top: 34%;
  right: 31%;
}
.visual .inner .item3 {
  position: absolute;
  width: 16vw;
  top: 27%;
  right: 17%;
}

/* Notice */
.notice {
}
.notice .notice-line {
  display: flex;
}
.notice .notice-line .bg-left {
  position: relative;
  background-color: #111;
  width: 55%;
  height: 62px;
}
.notice .notice-line .bg-right {
  position: relative;
  background-color: #f6f5ef;
  width: 45%;
  height: 62px;
}
.notice .notice-line {
  height: 100%;
  justify-content: space-between;
}
.notice .notice-line .inner__left {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  color: #fff;
  width: 70%;
  height: 100%;
}
.notice .notice-line .inner__left h1 {
  font-weight: 600;
}
.notice .notice-line .inner__left div {
  margin-left: 20px;
}
.notice .notice-line .inner__left a {
  position: absolute;
  right: 3%;
}
.notice .notice-line .inner__left a span {
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
}
.notice .notice-line .inner__right {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  color: black;
}
.notice .notice-line .inner__right h1 {
  font-weight: 600;
  margin-right: 18%;
}
.notice .notice-line .inner__right a {
}
.notice .notice-line .inner__right a span {
  color: black;
  font-size: 40px;
  line-height: 1.2;
}
/* Reward */
.rewards {
  position: relative;
  background: #1e3932;
  color: white;
}
.rewards .inner {
  padding: 30px 30px 40px;
  display: flex;
}
.rewards .inner a.rewards__logo {
  padding: 0 30px;
  display: flex;
  align-items: center;
  flex-basis: 260px;
}

.rewards .inner a.rewards__logo img {
  display: block;
  width: 176px;
}
.rewards .inner .rewards__items {
  flex-grow: 1;
}
.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #4b615b;
  right: 0;
}
.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
}
.rewards .inner .rewards__items .rewards__items__register p.subject {
  margin-bottom: 12px;
  font-size: 26px;
}
.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
}
.rewards .inner .rewards__items .buttons .btn--login {
  border-color: white;
  color: white;
}

.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register:hover,
.rewards .inner .rewards__items .buttons .btn--login:hover {
  text-decoration: underline;
}

.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
}
.rewards .inner .rewards__items .rewards__items__card p {
  display: block;
  font-size: 14px;
  color: white;
  margin-top: 12px;
}
.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Elsalvador */
.elsalvador {
  position: relative;
  height: 530px;
  background-image: url("../images/elsalvador_bg.jpg");
  /* background-size: 105%; */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.elsalvador .inner {
  position: relative;
  width: 80%;
  max-width: 1100px;
  height: inherit;
}
.elsalvador .inner .elsalvador__item {
  position: absolute;
  top: 80px;
  transform: translateX(-100%);
  left: 15%;
  width: 18vw;
  max-width: 300px;
  opacity: 0;
  transition: 2.5s;
}
.elsalvador .inner .elsalvador__contents {
  position: absolute;
  top: 170px;
  transform: translateX(100%);
  right: 22%;
  width: 18vw;
  opacity: 0;
  transition: 2.5s;
}
.elsalvador:active .inner .elsalvador__item,
.elsalvador:active .inner .elsalvador__contents {
  opacity: 1;
  transform: translateX(0);
}
.elsalvador .inner .elsalvador__contents .item-text {
  margin-bottom: 13%;
}

/* ethiopia */

.ethiopia {
  position: relative;
  height: 400px;
  background-image: url("../images/ethiopia_bg.png");
  background-size: cover;
  overflow: hidden;
}
.ethiopia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/ethiopia_before.png");
  height: 100%;
  width: 600px;
  opacity: 0;

  background-repeat: no-repeat;
}
.ethiopia::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/ethiopia_after.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 350px;
  opacity: 0;
}
.ethiopia .inner {
  position: relative;
  width: 80%;
  height: 400px;
}
.ethiopia .inner .ethiopia__contents {
  position: absolute;
  left: 10%;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  transition: 3s;
  transition-delay: 0.5s;
}
.ethiopia .inner .ethiopia__item {
  position: absolute;
  left: -400px;
  opacity: 0;
  transition: 2.5s;
  transition-delay: 0.75s;
}
.ethiopia .inner .ethiopia__contents > a.btn {
  margin-top: 40px;
  position: absolute;
  z-index: 2;
  left: 250px;
}
.ethiopia:active::before,
.ethiopia:active::after {
  opacity: 1;
  transition: 1.5s;
}
.ethiopia:active .inner .ethiopia__item,
.ethiopia:active .inner .ethiopia__contents {
  opacity: 1;
}
/* Favorite */

.favorite {
  height: 800px;
  background-image: url("../images/fav_bg.png");
  background-attachment: fixed;
  background-size: 115% 100%;
  background-position: 60% center;
  background-repeat: no-repeat;
}
.favorite .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.favorite .inner .favorite__contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.favorite .inner .favorite__contents .favorite_text1 {
  display: block;
  width: 15.5vw;
  margin-bottom: 40px;
}
.favorite .inner .favorite__contents > img {
  transition: 2s;
  opacity: 0;
  transform: translate(-100%);
}
.favorite:active .inner .favorite__contents > img {
  opacity: 1;
  transform: translate(0);
}
.favorite .inner .favorite__contents a {
  margin-top: 40px;
}

.favorite .inner .favorite__items {
  position: absolute;
  top: 0%;
  right: -250px;
  width: 80%;
}
.favorite .inner .favorite__items img {
  width: 100%;
}
/* Magazine */
.magazine {
  position: relative;
  background-image: url("../images/magazine_bg.png");
  background-size: 120%;
  background-position: center 100%;
  background-repeat: no-repeat;
  height: 400px;
  width: 100vw;
}
.magazine .inner {
  height: inherit;
  width: 80%;
}
.magazine .inner::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
  background-image: url("../images/magazine_img.png");
  background-repeat: no-repeat;
  background-position: -10% 0%;
  width: 350px;
  height: 400px;
  transition: 1.5s;
  opacity: 0;
}
.magazine .inner .magazine__contents {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 12%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.magazine .inner .magazine__contents > a {
  margin-top: 30px;
}
.magazine .inner .magazine__contents img {
}
.magazine:active .inner::after {
  content: "";
  opacity: 1;
}
/* STORE */
.store {
  position: relative;
  width: 100vw;
  height: 400px;
  background-image: url("../images/store_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.store .inner {
  width: 80%;
  height: inherit;
}
.store .inner .store__text1 {
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  transform: translateX(800px);
  opacity: 0;
  transition: 2s;
}
.store .inner .store__text2 {
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  transform: translateX(800px);
  opacity: 0;
  transition: 2.5s;
}
.store .inner .store__img1 {
  position: absolute;
  width: 366px;
  top: 0;
  left: 70px;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .store__img2 {
  position: absolute;
  width: 228px;
  top: 150px;
  left: 300px;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .store__img3 {
  position: absolute;
  width: 348px;
  top: -60px;
  left: 430px;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .store__img4 {
  position: absolute;
  width: 230px;
  right: -70px;
  bottom: 0;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  right: 330px;
  transform: translateX(800px);
}
.store:active .inner .store__img1,
.store:active .inner .store__img2,
.store:active .inner .store__img3,
.store:active .inner .store__img4,
.store:active .inner .store__text1,
.store:active .inner .store__text2 {
  opacity: 1;
}
.store:active .inner .store__text1,
.store:active .inner .store__text2 {
  transform: translateX(0);
}

.store:active .inner .btn.btn--black {
  transform: translateX(0);
  transition: transform 3s, background-color 0.6s, color 0.6s,
    text-decoration 0.6s;
}

/* Footer */
footer {
  position: relative;
  background-color: #2c2a29;
  width: 100vw;
}
footer .inner {
  display: block;
}
/* Footer menu */

footer .inner .footer__menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
footer .inner .footer__menu .left {
  width: 90%;
}
footer .inner .footer__menu .left .menu {
}
footer .inner .footer__menu .left .menu > li {
  display: flex;
}
footer .inner .footer__menu .left .menu > li > ul {
  width: 20%;
}
footer .inner .footer__menu .left .menu > li > ul a {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
footer .inner .footer__menu .left .menu > li > ul a:hover {
  text-decoration: underline;
}
footer .inner .footer__menu .left .menu > li > ul li {
  font-size: 12px;
  line-height: 1.8;
  color: white;
  cursor: pointer;
}
footer .inner .footer__menu .left .menu > li > ul li:hover {
  text-decoration: underline;
}
footer .inner .footer__menu .right {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}
footer .inner .footer__menu .right img {
}
/* sub-menu */
footer .inner .footer__sub-menu {
  display: flex;
  justify-content: center;
  font-size: 11px;
}
footer .inner .footer__sub-menu li {
  padding: 0 5px;
}
footer .inner .footer__sub-menu li a:hover {
  text-decoration: underline;
}
footer .inner .footer__sub-menu li:not(:first-child) a {
  color: white;
}
footer .inner .footer__sub-menu li:not(:first-child) a::before {
  display: inline-block;
  content: "";
  margin-right: 10px;
  width: 1px;
  height: 20px;
  box-shadow: 0.5px 0 #4b615b;
  vertical-align: middle;
}
footer .inner .footer__sub-menu li:first-child a {
  color: #00b050;
  font-weight: 600;
}

/* footer__button--group */
footer .inner .footer__button--group {
  display: flex;
  justify-content: center;
  margin: 15px 0 30px;
}
footer .inner .footer__button--group ul {
  display: flex;
  justify-content: space-around;
  width: 32%;
}
footer .inner .footer__button--group ul li a {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
}
footer .inner .footer__info {
  color: #999;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
footer .inner .footer__info li:not(:first-child) {
  margin-left: 10px;
}
footer .inner .footer__copyrigth {
  font-size: 12px;
  color: #999;
  display: flex;
  justify-content: center;
  padding: 15px 0 40px;
}
